cfn-lint>=0.54.4
boto3>=1.28.72
aoricaan-cli>=0.1.16
botocore>=1.31.72
python-dotenv>=0.20.0
mangum>=0.12.4
pytz>=2022.6
aws-lambda-powertools>=1.31.1
requests>=2.28.1
peewee~=3.15.3
psycopg2~=2.9.5
wrapt~=1.14.1
PyJWT~=2.7.0
countryinfo~=0.1.2
phonenumbers~=8.12.57
pydantic[email]~=1.10.4
python-dateutil~=2.8.2
typing-inspect~=0.9.0
typing_extensions~=4.12.2
num2words~=0.5.13
